/* 
Base Style
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin :2px ;
    padding :2px ;
}

h1,h2,h3{
    margin : 2px ;
}

p{
    margin: 2px;
}


/*
Layout 

Headers
Footers
Sidebars
*/

.header{
    padding: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav{
    display : flex
}

.header_logo{
    font-size: 24px;
}

/*
Module
*/
.button{
    background-color: lightgreen;
    border-radius: 5px;
    
   
}

.nav-items{
    text-decoration :none;
    color : black;
    padding : 5px;
}


/*
State

How elements behave in certain states, for ex when they are hovered
*/
.button:hover{
    background-color: blue;
}

.is-active {
    background-color: red;
    color : white
}

/*
Theme

It allows you to change the look and the feel of the components
*/

.theme-dark .header {
    background-color: gray;
}

.theme-dark .button{
    background-color: lightpink;
}